@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --white: : hsl(0, 0%, 100%);
  --primary-color: #043873;
  --blue-2:#4F9CF9;
  --paragraph: hsl(210, 9%, 31%);
  --button2: #FFE492;
  --negro: #393939;
  --signupbackground: hsl(217, 28%, 15%);
  --mainbackground: hsl(218, 28%, 13%);
  --footerbackground: hsl(216, 53%, 9%);
  --testimonialsbackground: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --error: hsl(0, 100%, 63%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background-color: var(--mainbackground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional 
  -webkit-appearance: none;
    -moz-appearance: none;
          appearance: none;
          */
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG 
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}*/
/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional 
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;*/
  /* opcional
  font-smooth: always; */
  /* opcional 
  -webkit-font-smoothing: antialiased;*/
  /* opcional 
  -moz-osx-font-smoothing: grayscale;*/
}

.header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5em 3em;
}
.header .ul {
  display: flex;
  gap: 3.125rem;
}
.header .ul .li {
  cursor: pointer;
  color: var(--white);
}
.header .ul .li:hover {
  color: white;
}

.main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.main .hero {
  width: 50%;
  max-width: 1116.42px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding: 2em;
}

.figure {
  width: 100%;
  max-width: 1116.42px;
}
.figure .img {
  width: 100%;
}

.title {
  text-align: center;
  line-height: 1.5em;
  font-size: 3em;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: white;
}

.p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
}

.button {
  font-family: "Open Sans", sans-serif;
  background-color: var(--Cyan);
  color: white;
  padding: 0.6em 4em;
  border-radius: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.grid {
  width: 60%;
  max-width: 1116.42px;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 12em;
  align-items: center;
  padding: 1em;
}
.grid .article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sub-title {
  text-align: center;
  line-height: 1.2em;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: white;
}

.section {
  width: 90%;
  display: flex;
  gap: 50px;
}
.section .figure {
  width: 50%;
}
.section .texto {
  width: 50%;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.section .texto .p {
  text-align: start;
}

.coments {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
  padding: 1em;
}
.coments .comentario {
  background-color: var(--testimonialsbackground);
  padding: 2rem;
}
.coments .comentario .p {
  text-align: left;
  color: var(--white);
}
.coments .avatar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}
.coments .avatar .profile {
  border-radius: 50%;
  width: 10%;
}
.coments .avatar .profile img {
  width: 100%;
  border-radius: 50%;
}

.float {
  width: 60%;
  background-color: red;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.float .send {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--footerbackground);
  padding: 5em;
}
.footer .wrapper {
  width: 90%;
  max-width: 120rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
}
.footer .wrapper .container {
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
}
.footer .wrapper .lo {
  width: 30%;
  gap: 1em;
}
.footer .wrapper .lo .location {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1em;
  cursor: pointer;
  text-align: left;
  color: var(--white);
}
.footer .wrapper .lo .location:hover {
  color: white;
}
.footer .wrapper .lo .location::before {
  content: url(../images/icon-location.svg);
}
.footer .wrapper .contatos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 1em;
}
.footer .wrapper .contatos .p {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1em;
  cursor: pointer;
}
.footer .wrapper .contatos .phone::before {
  content: url(../images/icon-phone.svg);
}
.footer .wrapper .contatos .phone:hover {
  color: white;
}
.footer .wrapper .contatos .email::before {
  content: url(../images/icon-email.svg);
}
.footer .wrapper .contatos .email:hover {
  color: white;
}
.footer .wrapper .about .p {
  text-align: left;
  cursor: pointer;
}
.footer .wrapper .about .p:hover {
  color: white;
}
.footer .wrapper .contact .p {
  text-align: left;
  cursor: pointer;
}
.footer .wrapper .contact .p:hover {
  color: white;
}
.footer .wrapper .redes {
  background-color: saddlebrown;
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

/*# sourceMappingURL=main.css.map */
